
/* OpenSans regular */

@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat-Bold.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* OpenSans regular */

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Medium.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* OpenSans italic */

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* OpenSans bold */

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  margin: 0px auto;
  background-color: #edebeb;
}

nav {
  overflow: hidden;
  margin-right: 20%;
  float: right;
  height: 100%;
}

header ul > li {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  line-height: 95px;
  font-size: 16px; 
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-style: normal;
}

header ul > li:hover {
  background-color: #5dc7be;
}

.section-image {
  background: url(../img/image1.jpg);
  background-size: cover;
  height: 400px;
}

header ul {
  margin: 0px;
  height: 100%;
}

header h2 {
  float: left;
  font-style: italic;
  margin-left: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Caveat";
  font-size: 52px;
  line-height: 95px;
}

header {
  font-size: 20px;
  text-align: center;
  background: white;
  overflow: hidden;
  height: 95px;
  background-color: #5ac0b8;
  color: white;
}

header a {
  text-decoration: none;
  color:white;
  
}

p {
  text-align: justify;
}

main { 
  background-color: #edebeb;
  overflow: hidden;
}

section {
  float: left;
  width: 50%;
  margin-top: 20px;
  margin-left: 10%;
}

aside {
  text-align: center;
  float: right;
  background-color: white;
  border: 1px solid #eee;
  width: 20%;
  padding: 40px;
  margin-top: 20px;
  margin-right: 10%;
}

aside h1 {
  text-align: center;
  font-family: "Caveat";
}

article {
  background-color: white;
  border: 1px solid #eee;
  padding: 40px;
}

article h1 {
  text-align: center;
  font-family: "Caveat";
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 0px;
}

article h5 {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  font-style: italic;
}

.img-article {
  width: 100%;
  height: 400px;
}



footer {
  background: #5ac0b8;
  text-align: justify;
  padding-bottom: 50px;
  color: white;
}

footer h1 {
  text-align: center;
  font-family: "Caveat";
  padding-top: 20px;
}

footer img {
  width: 220px;
  height: 300px; 
}
footer p {   
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font-family: "Caveat";
  font-size: 24px;
}

.footer-about {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}